USE [master]
GO
/****** Object:  Database [API]    Script Date: 31.08.2022 14:51:07 ******/
CREATE DATABASE [API]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'API_Context', FILENAME = N'C:\Users\ufukc\AppData\Local\Microsoft\Microsoft SQL Server Local DB\Instances\MSSQLLocalDB\API_Context.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'API_Context_log', FILENAME = N'C:\Users\ufukc\AppData\Local\Microsoft\Microsoft SQL Server Local DB\Instances\MSSQLLocalDB\API_Context.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [API].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [API]
GO
/****** Object:  Table [dbo].[OperationClaims]    Script Date: 31.08.2022 14:51:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OperationClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductCategories]    Script Date: 31.08.2022 14:51:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductCategories](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Description] [ntext] NULL,
	[CategoryType] [nvarchar](max) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Products]    Script Date: 31.08.2022 14:51:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ProductCatalogId] [int] NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[UnitsOnOrder] [smallint] NOT NULL,
	[QuantityPerUnit] [smallint] NOT NULL,
	[UnitsInStock] [smallint] NOT NULL,
	[Price] [money] NOT NULL,
 CONSTRAINT [PK__Products__3214EC07DE02D02A] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserOperationClaims]    Script Date: 31.08.2022 14:51:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserOperationClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NULL,
	[OperationClaimId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 31.08.2022 14:51:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [varchar](50) NULL,
	[Email] [varchar](50) NULL,
	[STATUS] [bit] NULL,
	[PasswordSalt] [varbinary](500) NULL,
	[PasswordHash] [varbinary](500) NULL,
	[LastName] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[OperationClaims] ON 

INSERT [dbo].[OperationClaims] ([Id], [Name]) VALUES (3, N'random')
INSERT [dbo].[OperationClaims] ([Id], [Name]) VALUES (4, N'random3')
INSERT [dbo].[OperationClaims] ([Id], [Name]) VALUES (1002, N'random5')
SET IDENTITY_INSERT [dbo].[OperationClaims] OFF
GO
SET IDENTITY_INSERT [dbo].[ProductCategories] ON 

INSERT [dbo].[ProductCategories] ([Id], [Name], [Description], [CategoryType]) VALUES (3, N'Teknolojik Ürün', N'Bu bir teknolojik üründür', N'Teknolojik Ürün')
INSERT [dbo].[ProductCategories] ([Id], [Name], [Description], [CategoryType]) VALUES (4, N'Porselen', N'Bu bir Porselendir.', N'Porselen')
INSERT [dbo].[ProductCategories] ([Id], [Name], [Description], [CategoryType]) VALUES (1003, N'Kırtasiye Ürünü', N'Bu bir Kırtasiye Ürünüdür.', N'Kırtasiye Ürünü')
SET IDENTITY_INSERT [dbo].[ProductCategories] OFF
GO
SET IDENTITY_INSERT [dbo].[Products] ON 

INSERT [dbo].[Products] ([Id], [ProductCatalogId], [Name], [UnitsOnOrder], [QuantityPerUnit], [UnitsInStock], [Price]) VALUES (7, 3, N'Laptop', 180, 31, 140, 24000.0000)
INSERT [dbo].[Products] ([Id], [ProductCatalogId], [Name], [UnitsOnOrder], [QuantityPerUnit], [UnitsInStock], [Price]) VALUES (8, 3, N'Mause', 80, 23, 40, 25000.0000)
INSERT [dbo].[Products] ([Id], [ProductCatalogId], [Name], [UnitsOnOrder], [QuantityPerUnit], [UnitsInStock], [Price]) VALUES (1007, 4, N'Çay Tabağı', 12, 5, 51, 5.0000)
SET IDENTITY_INSERT [dbo].[Products] OFF
GO
SET IDENTITY_INSERT [dbo].[UserOperationClaims] ON 

INSERT [dbo].[UserOperationClaims] ([Id], [UserId], [OperationClaimId]) VALUES (2, 1, 3)
INSERT [dbo].[UserOperationClaims] ([Id], [UserId], [OperationClaimId]) VALUES (3, 1, 4)
INSERT [dbo].[UserOperationClaims] ([Id], [UserId], [OperationClaimId]) VALUES (1002, 2, 1002)
SET IDENTITY_INSERT [dbo].[UserOperationClaims] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([Id], [FirstName], [Email], [STATUS], [PasswordSalt], [PasswordHash], [LastName]) VALUES (1, N'Ufuk', N'ufukcetinkaya_10@hotmail.com', 1, 0xDCEBF1A8AB8069499A370C746C6A847E7094BD1C90D44755B19ADE520B11F9A5005120E5E30F80672DF4AF0D3857F24837F5229F1072E70BE6DD5F757E824B4C66DEFAA641271FB7A054AFF135C52BE746AAB2E7798E932B69CE0D4A3C113CC780F83FB24E8129D4B03506A7EA6DBBB934A9CF36225D929B74F15742675B0200, 0xF0EDEFF5F63007E2796A80820E8732B9E125F6C69C21AD52E8CA76E1C88630B1F12D50EE064BD35CA894D957F07FCEBA02838B6F6F8ED8AAA6322A721FAAF866, N'Çetinkaya')
INSERT [dbo].[Users] ([Id], [FirstName], [Email], [STATUS], [PasswordSalt], [PasswordHash], [LastName]) VALUES (2, N'Taha', N'taha11w@gmail.com', 1, 0x0DCAF56EA5EB17BDDA1E1A02D240AD5FAE09368DB933A5A3968DB9DEC5F7588DEB600893DDD996209AB00C7D6DC313C1015BC291E7660920531AAA81E33D89BEBDCACE6B5D5F70BB7064CC74E25142041B3BC5BB7DFB0D9692AADE5634D658B96E3EAB181A6B6F4F8F56DFF1F466BC9365B52DBC6CA814D5ADBFF66E22A7FFDC, 0xAE2BFE88D48C6AB175B788E7D61F5DC38831EBADFAAF9908039337C04D8C8B5D36CF32F084C4DF96B1608AC65CBA41C8641603D41C36D19AA85C611632CB04DA, N'Kemikkiran')
INSERT [dbo].[Users] ([Id], [FirstName], [Email], [STATUS], [PasswordSalt], [PasswordHash], [LastName]) VALUES (3, N'Yasin', N'yasinnn11w@gmail.com', 1, 0xC60625C58BFC45978FE463BA9EDC6540BAC4BABEDE7928C5B8FB40DD1415F5AFCADF705420307BFCEF4DD7472A439BCB22878281131990D0295AE5D4B49B61FD0F007D445299C9F6A0DC238B2E440821C27CB84B0CCDB7BCFB72DA47397221ACEEF319AC59E2A432A281C8ACE87A72B014800F06B1EF4B0C148382425B636CCB, 0x7B949C9DE92B769F243F17F0E6E36F85228049503033614240DC30F339186F1412378C48BD169405478DC0137D5A328B82F08CA97F69558EA13582C6EFF90BD9, N'Bozkurt')
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD  CONSTRAINT [FK_Products_ProductCategories] FOREIGN KEY([ProductCatalogId])
REFERENCES [dbo].[ProductCategories] ([Id])
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [FK_Products_ProductCategories]
GO
USE [master]
GO
